a:link    {color:#0000ee;}
a:hover   {color:#5555ee;}
a:visited {color:#0000ee;}
tr:nth-child(odd) {background-color: #f7efea;}
tr:first-child {background-color: #eeaa88;}
tr:hover {background-color: #f0e0d6;}
table { border-collapse: collapse;}
body{background: #ffffee;}